.column {
	float: left;
	width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
	content: '';
	display: table;
	clear: both;
}

.column-name {
	height: 50px;
	border: solid 2px;
	background: rgb(247, 253, 192);
	text-align: center;
}

.video {
	display: flex;
	height: 350px;
	border: solid 2px;
	justify-content: center;
	align-items: center;
	/* background: rgb(255, 255, 255); */
}

.element-column {
	background: rgb(247, 253, 192);
}

.current-element {
	background: rgb(247, 253, 192);
	height: 50px;
}

.current-element-btn {
	height: 100%;
	width: 100%;
	/* background: rgb(164, 224, 196); */
}

.current-element-variant-btn {
	height: 100%;
	width: 100%;
	/* background: rgb(164, 224, 196); */
}

.next-element {
	background: rgb(247, 253, 192);
	height: 50px;
}

.preview-element-btn {
	height: 100%;
	width: 80%;
}

.go-element-btn {
	height: 100%;
	width: 19%;
}
